[user]
	name = Pavel Homolka
	email = pavelhomolka1986@gmail.com
[color]
	diff = always
	status = always
	ui = true
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgd = log --decorate --stat
	lgda = log --decorate --stat --all
[core]
	editor = vim
[merge]
	tool = meld
